<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    {% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Create Account</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'dashboard/vendors/iconfonts/font-awesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/vendors/css/vendor.bundle.addons.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
  <!-- endinject -->
  <link rel="icon" href="{% static 'images/soccer/ferwafa.png' %}" type="image/x-icon">
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                <a href="{% url 'home_view' %}"><img src="{% static 'images/soccer/ferwafa.png' %}" style="height: 90px; width: 80px;" alt="logo"></a>
              </div>
              <h4>Create Account</h4>
              <form class="pt-3" action="" method="POST">
                  {% csrf_token %}
                {{ form|crispy }}
                  {% if form.errors %}
                      <div class="row">
                        <div class="col s12">
                          <span style="color: red; font-weight: bold;">Your username or password did not match.</span>
                        </div>
                      </div>
                      {% endif %}
                <div class="my-3">
                    <button type="submit" value="login" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Create Account</button>
                </div>

                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="{% url 'login' %}" class=text-primary">login</a>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">

          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'dashboard/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'dashboard/vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'dashboard/js/off-canvas.js' %}"></script>
  <script src="{% static 'dashboard/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'dashboard/js/misc.js' %}"></script>
  <script src="{% static 'dashboard/js/settings.js' %}"></script>
  <script src="{% static 'dashboard/js/todolist.js' %}"></script>
  <!-- endinject -->
</body>

</html>
