{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <section class="main-match-shedule amateurs-match-shedule">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"><h5>Next matches</h5></div>
                <div class="col-md-10 col-sm-9 col-xs-9">

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">

<ul class="tab-filters" role="tablist">
    <li class="active"><a href="#all" role="tab" data-toggle="tab" aria-expanded="true">All</a></li>
    <li><a href="#nationalcup" role="tab" data-toggle="tab" aria-expanded="true">PEACE CUP</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="all">
        <div class="amateurs-main-match">
            <div class="title">PRIMUS PREMIER LEAGUE </div>
            <a href="matches.html" class="team">
                <span class="image"><img src="{% static 'images/soccer/team-logo1.png' %}" alt="main-match"></span>
                <span class="info">
                    <span class="name">{{ upcoming_match_first.team1 }}</span>
                </span>
            </a>
            <div class="score">
                <span>3:2</span>
            </div>
            <a href="matches.html" class="team guest">
                <span class="info">
                    <span class="name">{{ upcoming_match_first.team2 }}</span>
                </span>
                <span class="image"><img src="{% static 'images/soccer/team-logo2.png' %}" alt="main-match"></span>
            </a>
            <div class="title">{{ upcoming_match_first.date }}</div>
        </div>
    </div>
    <div class="tab-pane" id="nationalcup">
        <div class="amateurs-main-match">
            <div class="title">National Cup - Round 1</div>
            <a href="matches.html" class="team">
                <span class="image"><img src="images/soccer/team-logo3.png" alt="main-match"></span>
                <span class="info">
                    <span class="name">Internacional</span>
                    <span class="city">london</span>
                </span>
            </a>
            <div class="score">
                <span>3:2</span>
            </div>
            <a href="matches.html" class="team guest">
                <span class="info">
                    <span class="name">Arsenalp</span>
                    <span class="city">Lyon</span>
                </span>
                <span class="image"><img src="images/soccer/team-logo4.png" alt="main-match"></span>
            </a>
            <div class="title">26 september / 8:45 PM</div>
        </div>
    </div>
</div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12"><h6>UPCOMING MATCHES</h6></div>
                <div class="col-md-12 col-sm-12 col-xs-12">

<div class="main-lates-matches">
    {% for upcoming_match in upcoming_match %}
    <a href="#" class="item">
        <span class="championship">{{ upcoming_match.date }}</span>
        <span class="teams-wrap">
                <span class="team">
                    <span>
                        <img src="{% static 'images/common/team-logo1.png' %}" alt="team-image">
                    </span>
                    <span>{{ upcoming_match.team1 }}</span>
                </span>
                <span class="score">
                    <span>3:2</span>

                </span>
                <span class="team1">
                    <span>{{ upcoming_match.team2 }}</span>
                    <span><img src="{% static 'images/common/team-logo2.png' %}" alt="team-image"></span>
                </span>
        </span>
    </a>
    {% endfor %}

</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}