{% extends 'home/base.html' %}
{% load static %}

{% block content %}

    <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'home_view' %}">Main</a>/</li>
                            <li>Coach</li>
                        </ul>
                        <h1>Coach</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

    <!--PLAYER SINGLE WRAP BEGIN-->

  <section class="player-single-wrap">

        <!--PLAYER INFO BEGIN-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="captain-bage">Coach</div>
            <h4 class="player-name">Manager</h4>
        </div>
        <div class="col-md-3">
            <div class="player-photo">
                <img class="img-responsive" src="{{ coach.manager_image.url }}" alt="player" style="height: 269px; width: 311px;">
            </div>
        </div>
        <div class="col-md-9">
            <div class="player-hockey-wrap">
                <div class="row">
                    <div class="col-md-8 col-sm-6">
                        <div class="stats">
                            <p class="name">{{ coach.manager_name }}</p>
                            <div class="wrapper-circle">
                                <div class="circle-item" >
                                    <div class="circle-bar" id="circle_1" data-percent="65"></div>
                                    <div class="text">Win Rating</div>
                                </div>
                                <div class="circle-item" >
                                    <div class="circle-bar" id="circle_2" data-percent="29"></div>
                                    <div class="text">Loss Rating</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="canvas">
                            <canvas id="player-radar-graph" ></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--PLAYER INFO END-->


        <!--PLAYER STATS BEGIN-->
<section class="hockey-stats">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" >
                        <h6>club history</h6>
                        <div class="overflow-scroll">
                            <table>
                                <tr>
                                    <th>Season</th>
                                    <th class="club">Club</th>
                                    <th>Games</th>
                                    <th>loss</th>
                                    <th>draw</th>
                                    <th>wins</th>
                                </tr>
                                <tr>
                                    <td>2016/2017</td>
                                    <td class="club">
                                        <a href="">
                                            <span class="team"><img src="{% static 'images/common/team-logo2.png' %}" width="30" height="30" alt="trophy"></span> <span style="margin: auto">Apr</span>
                                        </a>
                                    </td>
                                    <td>27</td>
                                    <td>10</td>
                                    <td>9</td>
                                    <td><span>10</span></td>
                                </tr>
                                <tr>
                                    <td>2016/2017</td>
                                    <td class="club">
                                        <a href="matches.html">
                                            <span class="team"><img src="{% static 'images/soccer/team-logo2.png' %}" width="30" height="30" alt="trophy"></span><span style="margin: auto"> Kiyovu </span>
                                        </a>
                                    </td>
                                    <td>27</td>
                                    <td>10</td>
                                    <td>9</td>
                                    <td><span>10</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h6>Trophies</h6>
                        <div class="background-section">
                            <ul class="player-trophey">
                                <li>
                                    <img src="{% static 'images/common/am-trophey1.png' %}" width="100" height="150" alt="trophy">
                                    <div class="year">2012</div>
                                </li>
                                <li>
                                    <img src="{% static 'images/common/am-trophey.png' %}" width="100" height="150" alt="trophy">
                                    <div class="year">2015</div>
                                </li>
                                <li>
                                    <img src="{% static 'images/common/am-trophey2.png' %}" width="100" height="150" alt="trophy">
                                    <div class="year">2017</div>
                                </li>
                            </ul>
                        </div>

                </div>
            </div>
        </div>



    </div>
</section>
<!--PLAYER STATS END-->

    </section>

        <!--PLAYER INFO BEGIN-->


<!--PLAYER INFO END-->

{% endblock %}