{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'home_view' %}">Main</a>/</li>
                            <li>Connect</li>
                        </ul>
                        <h1>Contact Team</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

    <!--CONTACT WRAP BEGIN-->
<section class="contacts-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4>Head office</h4>
                <p>Feel free to contact our office for more detail about player  </p>
                <div class="contact-office-img">
                    <img class="img-responsive" src="{% static 'images/soccer/contact-office-img.jpg' %}" alt="contact-office-img">
                </div>
                <ul class="contact-list">
                    <li><i class="fa fa-flag" aria-hidden="true"></i><span>276</span></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:{{ team.user.email }}">{{ team.user.email }}</a></li>
                    <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>{{ team.user.phone_number }}</span></li>
                </ul>
                <ul class="contact-bar">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="google"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                    <li class="pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-7">
                <h4>Get in touch</h4>
                <div class="leave-comment-wrap">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span>Name <i>*</i></span>
                                        {{ form.name }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span>Email <i>*</i></span>
                                        {{ form.email }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <label>
                                        <span>Subject</span>
                                        {{ form.subject }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <label>
                                        <span>Your message<i>*</i></span>
                                        {{ form.body }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="comment-submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CONTACT WRAP END-->
{% endblock %}