{% extends 'home/base.html' %}
{% load static %}

{% block content %}

    <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'home_view' %}">Main</a>/</li>
                            <li>Coach</li>
                        </ul>
                        <h1>Coach</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

    <!--PLAYER SINGLE WRAP BEGIN-->

  <section class="player-single-wrap">

        <!--PLAYER INFO BEGIN-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="captain-bage">Coach</div>
            <h4 class="player-name">Manager</h4>
        </div>
        <div class="col-md-3">
            <div class="player-photo">
                <img class="img-responsive" src="{{ coach.manager_image.url }}" alt="player" style="height: 269px; width: 311px;">
            </div>
        </div>
        <div class="col-md-9">
            <div class="player-hockey-wrap">
                <div class="row">
                    <div class="col-md-7 col-sm-6">
                        <div class="stats">
                            <p class="name">{{ coach.manager_name }}</p>
                            <div class="wrapper-circle">
                                <div class="circle-item" >
                                    <div class="circle-bar" id="circle_1" data-percent="65"></div>
                                    <div class="text">Win Rating</div>
                                </div>
                                <div class="circle-item" >
                                    <div class="circle-bar" id="circle_2" data-percent="29"></div>
                                    <div class="text">Loss Rating</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <div class="player-info">
                            <h6 class="player-info-title">summary</h6>
                            <div class="summary summary-hockey">
                                <div class="row">
                                    <div class="col-md-3 col-xs-4">
                                        <div class="item">Nationality:</div>
                                    </div>
                                    <div class=" col-md-9 col-xs-8">    <p style="padding-left: 1cm;">{{ coach.manager_country }}</p></div>
                                    <div class="col-xs-3">
                                        <div class="item">Position:</div>
                                    </div>
                                    <div class="col-xs-9">Coach</div>
                                    <div class="col-xs-3">
                                        <div class="item">Age:</div>
                                    </div>
                                    <div class="col-xs-9">{{ coach.manager_age }}</div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

<!--PLAYER INFO END-->
<section class="live-match-stat">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="h3-tactic">Favorite Formation</h3>
                    <div class="tactic football">
                            <div class="">
                                {% if manager_formation == '4-2-1-3' %}
                                        <div class="tab-pane active" id="football_pitch_top4213">
                                    <div class="field text-center">

                                        <a href="player-second-page.html" class="player top lf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="26 Joenaathan Koedjaia">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            26                        </a>
                                        <a href="player-second-page.html" class="player top cam  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Aaeroan Tsehiabola">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player">                            8                        </a>
                                        <a href="player-second-page.html" class="player top rf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Heenrai Laensabury">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            5                        </a>
                                        <a href="player-second-page.html" class="player top cf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="77 Caerlaes Giela">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            77                        </a>
                                        <a href="player-second-page.html" class="player top rwb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="28 Aleya Ciessaokho" >
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            28                        </a>
                                        <a href="player-second-page.html" class="player top lwb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="27 Rietcahie Deea Laeeta" >
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            27                        </a>
                                        <a href="player-second-page.html" class="player top lcb1  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="21 Aleana Huettaon">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            21                        </a>
                                        <a href="player-second-page.html" class="player top lb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="12 Jaemeas Cheesater">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            12                        </a>
                                        <a href="player-second-page.html" class="player top rb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="6 Toemmay Elephaick">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            6                        </a>
                                        <a href="player-second-page.html" class="player top rcb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="2 Naethaan Baekear">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            2                        </a>
                                        <a href="player-second-page.html" class="player top gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="1 Pieeraluigi Goellaini">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            1                        </a>

                                        <img class="img-responsive center-block" src="{% static 'images/common/soccer-match-field.jpg' %}" alt="match-field">
                                    </div>
                                </div>
                                {% elif manager_formation == '4-2-3-1' %}
                                        <div class="tab-pane" id="football_pitch_top4231">
                                    <div class="field text-center">

                                        <a href="player-second-page.html" class="player top cam  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Aaeroan Tsehiabola">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player">                            8                        </a>
                                        <a href="player-second-page.html" class="player top cf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Aaeroan Tsehiabola">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            8                        </a>
                                        <a href="player-second-page.html" class="player top rmd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Ereasao">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            5                        </a>
                                        <a href="player-second-page.html" class="player top lmd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Iteuraraspe">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            77                        </a>
                                        <a href="player-second-page.html"  class="player top rwb   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="28 Aleya Ciessaokho">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            28                        </a>
                                        <a href="player-second-page.html"  class="player top lwb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="27 Rietcahie Deea Laeeta">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            27                        </a>
                                        <a href="player-second-page.html" class="player top lcb1  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="21 Aleana Huettaon" >
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            21                        </a>
                                        <a href="player-second-page.html" class="player top lb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="12 Jaemeas Cheesater">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            12                        </a>
                                        <a href="player-second-page.html" class="player top rb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="6 Toemmay Elephaick">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            6                        </a>
                                        <a href="player-second-page.html" class="player top rcb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="2 Naethaan Baekear">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            2                        </a>
                                        <a href="player-second-page.html" class="player top gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="1 Pieeraluigi Goellaini">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            1                        </a>

                                        <img class="img-responsive center-block" src="{% static 'images/common/soccer-match-field.jpg' %}" alt="match-field">
                                    </div>
                                </div>
                                {% elif manager_formation == '4-2-2-2' %}
                                         <div class="tab-pane" id="football_pitch_button4222">
                                    <div class="field text-center">

                                        <a href="player-second-page.html" class="player bottom gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="29 Reemiaro">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            29                        </a>
                                        <a href="player-second-page.html" class="player bottom rcb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="18 Deea Maercaos">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            18                        </a>
                                        <a href="player-second-page.html" class="player bottom lcb1  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="16 X.ea Etexeaita">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            16                        </a>
                                        <a href="player-second-page.html" class="player bottom cfl  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="11 Wiellaiams">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            11                        </a>
                                        <a href="player-second-page.html" class="player bottom cfr  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="10 Mueniaain">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            10                        </a>
                                        <a href="player-second-page.html" class="player bottom lmd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="14 Suesaaeta" >
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            14                        </a>
                                        <a href="player-second-page.html" class="player bottom lwb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Iteuraraspe">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            8                       </a>
                                        <a href="player-second-page.html" class="player bottom rwb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="7 Beeñaat">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            7                        </a>
                                        <a href="player-second-page.html" class="player bottom rmd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Ereasao">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            5                        </a>
                                        <a href="player-second-page.html" class="player bottom lb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="4 Laepoarte">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            4                        </a>
                                        <a href="player-second-page.html" class="player bottom rb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="3 Eleusatondo">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            3                        </a>

                                        <img class="img-responsive center-block" src="{% static 'images/common/soccer-match-field.jpg' %}" alt="match-field">
                                    </div>
                                </div>
                                {% elif manager_formation == '4-3-3' %}
                                        <div class="tab-pane" id="football_pitch_button433">
                                    <div class="field text-center">

                                        <a href="player-second-page.html" class="player bottom gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="29 Reemiaro">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            29                        </a>
                                        <a href="player-second-page.html" class="player bottom rcb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="18 Deea Maercaos">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            18                        </a>
                                        <a href="player-second-page.html" class="player bottom lcb1  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="16 X.ea Etexeaita">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            16                        </a>
                                        <a href="player-second-page.html" class="player bottom cf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="11 Wiellaiams">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            11                        </a>
                                        <a href="player-second-page.html" class="player bottom rf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="10 Mueniaain">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            10                        </a>
                                        <a href="player-second-page.html" class="player bottom lf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="14 Suesaaeta">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            14                        </a>
                                        <a href="player-second-page.html" class="player bottom lm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Iteuraraspe">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            8                        </a>
                                        <a href="player-second-page.html" class="player bottom cdm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="7 Beeñaat">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            7                        </a>
                                        <a href="player-second-page.html" class="player bottom rm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Ereasao">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            5                        </a>
                                        <a href="player-second-page.html" class="player bottom lb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="4 Laepoarte">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            4                        </a>
                                        <a href="player-second-page.html" class="player bottom rb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="3 Eleusatondo">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            3                        </a>

                                        <img class="img-responsive center-block" src="{% static 'images/common/soccer-match-field.jpg' %}" alt="match-field">
                                    </div>
                                </div>
                                {% elif manager_formation == '4-2-2-2' %}
                                            <div class="tab-pane" id="football_pitch_button442">
                                    <div class="field text-center">

                                        <a href="player-second-page.html" class="player bottom gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="29 Reemiaro">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            29                        </a>
                                        <a href="player-second-page.html" class="player bottom rcb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="18 Deea Maercaos">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            18                        </a>
                                        <a href="player-second-page.html" class="player bottom lcb1  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="16 X.ea Etexeaita">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            16                        </a>
                                        <a href="player-second-page.html" class="player bottom cfl  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="11 Wiellaiams">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            11                        </a>
                                        <a href="player-second-page.html" class="player bottom cfr  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="10 Mueniaain">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            10                        </a>
                                        <a href="player-second-page.html" class="player bottom ramd   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="14 Suesaaeta">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            14                        </a>
                                        <a href="player-second-page.html" class="player bottom rmd   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Iteuraraspe" style="margin-left: 8cm;margin-top: 6.9cm;">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            8                        </a>
                                        <a href="player-second-page.html" class="player bottom lmd   " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="7 Beeñaat">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            7                        </a>
                                        <a href="player-second-page.html" class="player bottom lamd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Ereasao" style="margin-left: 5cm; margin-top: 6.9cm;">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            5                        </a>
                                        <a href="player-second-page.html" class="player bottom lb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="4 Laepoarte">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            4                        </a>
                                        <a href="player-second-page.html" class="player bottom rb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="3 Eleusatondo">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            3                        </a>

                                        <img class="img-responsive center-block" src="{% static 'images/common/soccer-match-field.jpg' %}" alt="match-field">
                                    </div>
                                </div>
                                {% elif manager_formation == '3-4-3' %}
                                        <div class="tab-pane" id="football_pitch_button343">
                                    <div class="field text-center">

                                        <a href="player-second-page.html" class="player bottom gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="29 Reemiaro">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            29                       </a>
                                        <a href="player-second-page.html" class="player bottom rcb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="18 Deea Maercaos">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            18                        </a>
                                        <a href="player-second-page.html" class="player bottom lcbb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="16 X.ea Etexeaita">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            16                        </a>
                                        <a href="player-second-page.html" class="player bottom cf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="11 Wiellaiams">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            11                        </a>
                                        <a href="player-second-page.html" class="player bottom rf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="10 Mueniaain">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            10                        </a>
                                        <a href="player-second-page.html" class="player bottom lmd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="14 Suesaaeta">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            14                        </a>
                                        <a href="player-second-page.html" class="player bottom lamd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Iteuraraspe">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            8                        </a>
                                        <a href="player-second-page.html" class="player bottom rmd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="7 Beeñaat">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            7                        </a>
                                        <a href="player-second-page.html" class="player bottom ramd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Ereasao">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            5                        </a>
                                        <a href="player-second-page.html" class="player bottom lf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="4 Laepoarte">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            4                        </a>
                                        <a href="player-second-page.html" class="player bottom rcbb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="3 Eleusatondo">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            3                        </a>

                                        <img class="img-responsive center-block" src="{% static 'images/common/soccer-match-field.jpg' %}" alt="match-field">
                                    </div>
                                </div>
                                {% elif manager_formation == '3-5-2' %}
                                     <div class="tab-pane" id="football_pitch_button352">
                                    <div class="field text-center">

                                        <a href="player-second-page.html" class="player bottom gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="29 Reemiaro">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            29                        </a>
                                        <a href="player-second-page.html" class="player bottom lcbb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="18 Deea Maercaos">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            18                        </a>
                                        <a href="player-second-page.html" class="player bottom cdm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="16 X.ea Etexeaita">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            16                        </a>
                                        <a href="player-second-page.html" class="player bottom cfl  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="11 Wiellaiams">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            11                        </a>
                                        <a href="player-second-page.html" class="player bottom cfr  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="10 Mueniaain">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            10                        </a>
                                        <a href="player-second-page.html" class="player bottom lmd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="14 Suesaaeta">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            14                        </a>
                                        <a href="player-second-page.html" class="player bottom lamd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Iteuraraspe">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            8                        </a>
                                        <a href="player-second-page.html" class="player bottom rmd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="7 Beeñaat">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            7                        </a>
                                        <a href="player-second-page.html" class="player bottom ramd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Ereasao">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            5                        </a>
                                        <a href="player-second-page.html" class="player bottom cbm " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="4 Laepoarte">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            4                        </a>
                                        <a href="player-second-page.html" class="player bottom rcbb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="3 Eleusatondo">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            3                        </a>

                                        <img class="img-responsive center-block" src="{% static 'images/common/soccer-match-field.jpg' %}" alt="match-field">
                                    </div>
                                </div>
                                {% elif manager_formation == '3-4-2-1' %}
                                        <div class="tab-pane" id="football_pitch_button3421">
                                    <div class="field text-center">

                                        <a href="player-second-page.html" class="player bottom gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="29 Reemiaro">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            29                        </a>
                                        <a href="player-second-page.html" class="player bottom lcbb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="18 Deea Maercaos">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            18                        </a>
                                        <a href="player-second-page.html" class="player bottom cf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="16 X.ea Etexeaita">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            16                        </a>
                                        <a href="player-second-page.html" class="player bottom cfl  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="11 Wiellaiams">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            11                        </a>
                                        <a href="player-second-page.html" class="player bottom cfr  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="10 Mueniaain">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            10                        </a>
                                        <a href="player-second-page.html" class="player bottom lmd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="14 Suesaaeta">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            14                        </a>
                                        <a href="player-second-page.html" class="player bottom lamd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Iteuraraspe">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            8                        </a>
                                        <a href="player-second-page.html" class="player bottom rmd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="7 Beeñaat">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            7                        </a>
                                        <a href="player-second-page.html" class="player bottom ramd  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Ereasao">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            5                        </a>
                                        <a href="player-second-page.html" class="player bottom cbm " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="4 Laepoarte">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            4                        </a>
                                        <a href="player-second-page.html" class="player bottom rcbb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="3 Eleusatondo">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            3                        </a>

                                        <img class="img-responsive center-block" src="{% static 'images/common/soccer-match-field.jpg' %}" alt="match-field">
                                    </div>
                                </div>
                                {% else %}
                                        <div class="tab-pane" id="football_pitch_button433">
                                    <div class="field text-center">

                                        <a href="player-second-page.html" class="player bottom gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="29 Reemiaro">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            29                        </a>
                                        <a href="player-second-page.html" class="player bottom rcb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="18 Deea Maercaos">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            18                        </a>
                                        <a href="player-second-page.html" class="player bottom lcb1  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="16 X.ea Etexeaita">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            16                        </a>
                                        <a href="player-second-page.html" class="player bottom cf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="11 Wiellaiams">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            11                        </a>
                                        <a href="player-second-page.html" class="player bottom rf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="10 Mueniaain">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            10                        </a>
                                        <a href="player-second-page.html" class="player bottom lf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="14 Suesaaeta">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            14                        </a>
                                        <a href="player-second-page.html" class="player bottom lm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="8 Iteuraraspe">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            8                        </a>
                                        <a href="player-second-page.html" class="player bottom cdm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="7 Beeñaat">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            7                        </a>
                                        <a href="player-second-page.html" class="player bottom rm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="5 Ereasao">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            5                        </a>
                                        <a href="player-second-page.html" class="player bottom lb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="4 Laepoarte">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            4                        </a>
                                        <a href="player-second-page.html" class="player bottom rb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="3 Eleusatondo">
                                            <img width="56" height="56" src="{% static 'images/common/member-avatar.jpg' %}"  alt="player" >                            3                        </a>

                                        <img class="img-responsive center-block" src="{% static 'images/common/soccer-match-field.jpg' %}" alt="match-field">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                    </div>

                </div>
                <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" >
                        <h6>club history</h6>
                        <div class="overflow-scroll">
                            <table>
                                <tr>
                                    <th>Season</th>
                                    <th class="club">Club</th>
                                    <th>Games</th>
                                    <th>loss</th>
                                    <th>draw</th>
                                    <th>wins</th>
                                </tr>
                                <tr>
                                    <td>2016/2017</td>
                                    <td class="club">
                                        <a href="">
                                            <span class="team"><img src="{% static 'images/common/team-logo2.png' %}" width="30" height="30" alt="trophy"></span> <span style="margin: auto">Apr</span>
                                        </a>
                                    </td>
                                    <td>27</td>
                                    <td>10</td>
                                    <td>9</td>
                                    <td><span>10</span></td>
                                </tr>
                                <tr>
                                    <td>2016/2017</td>
                                    <td class="club">
                                        <a href="matches.html">
                                            <span class="team"><img src="{% static 'images/soccer/team-logo2.png' %}" width="30" height="30" alt="trophy"></span><span style="margin: auto"> Kiyovu </span>
                                        </a>
                                    </td>
                                    <td>27</td>
                                    <td>10</td>
                                    <td>9</td>
                                    <td><span>10</span></td>
                                </tr>
                            </table>
                        </div>
                        <h6>Trophies</h6>
                        <div class="background-section">
                            <ul class="player-trophey">
                                <li>
                                    <img src="{% static 'images/common/am-trophey1.png' %}" width="100" height="150" alt="trophy">
                                    <div class="year">2012</div>
                                </li>
                                <li>
                                    <img src="{% static 'images/common/am-trophey.png' %}" width="100" height="150" alt="trophy">
                                    <div class="year">2015</div>
                                </li>
                                <li>
                                    <img src="{% static 'images/common/am-trophey2.png' %}" width="100" height="150" alt="trophy">
                                    <div class="year">2017</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12">

                        </div>

                    </div>
                </div>
            </div>


            </div>
        </div>
    </section>

        <!--PLAYER STATS BEGIN-->
<!--PLAYER STATS END-->

    </section>

        <!--PLAYER INFO BEGIN-->


<!--PLAYER INFO END-->
     <!--LIVE MATCH STAT BEGIN-->



    <!--LIVE MATCH STAT END-->

{% endblock %}