{% extends 'home/base.html' %}
{% load static %}

{% block content %}
     <div class="main-slider-section">
    <div class="main-slider">
        <div id="main-slider" class="carousel slide" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner" role="listbox">
                {% for live_match in live_match|slice:":7" %}
                    {% if forloop.first %}
                    <div class="item active">
                        <div class="main-slider-caption">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="match-date">{{ live_match.date }}</div>
                                        <div class="team"> {{ live_match.team1 }}
                                            <div class="big-count">
                                                {{ live_match.team1_score }}:{{ live_match.team2_score }}
                                            </div>
                                            {{ live_match.team2 }}
                                        </div>
                                        <div class="booking">
                                            <a href="{{ live_match.match_link }}">
                                                Watch live
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% else %}
                        <div class="item">
                    <div class="main-slider-caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="match-date">{{ live_match.date }}</div>
                                    <div class="team"> {{ live_match.team1 }} - {{ live_match.team2 }}
                                    </div>

                                    <div class="booking">
                                        <a href="{{ live_match.match_link }}">
                                            Watch live
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}

            </div>

            <!-- Controls -->
            <a class="nav-arrow left-arrow" href="#main-slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only"></span>
            </a>
            <a class="nav-arrow right-arrow" href="#main-slider" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only"></span>
            </a>

            <div class="event-nav">
                <div class="container">
                    <div class="row no-gutter carousel-indicators">
                        {% for match_done in match_done|slice:":5" %}

                        <div class="col-sm-4" data-slide-to="2" data-target="#main-slider">
                            <a href="#" class="nav-item">
                                <span class="championship">{{ match_done.match_type }}</span>
                                <span class="teams-wrap">
                                    <span class="team"><img src="{{ match_done.team1_logo.url }}" alt="team-logo"></span>
                                    <span class="score">
                                        <span>{{ match_done.team1_score }}</span><span>{{ match_done.team1_score }}</span>
                                    </span>

                                    <span class="team1">
                                        <span><img src="{{ match_done.team2_logo.url }}" alt="team-logo"></span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <!--MAIN MACTH SHEDULE BEGIN-->

    <section class="main-match-shedule">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12" >
                    <h6>Next match</h6>

                <div class="main-next-match bg-cover">
                    <img src="{% static 'images/soccer/next-match-bg.jpg' %}" class="next-match-background-img" alt="next-image">
                    <div class="wrap">
                        <div class="place" >{{ live_match_first.match_type }}</div>
                        <div class="date" >{{ live_match_first.date }}</div>
                        <div class="teams-wrap" >
                                <a href="#" class="team">
                                    <span>{{ live_match_first.team1 }}</span>
                                    <span><img src="{{ live_match_first.team1_logo.url }}" alt="team-image"></span>
                                </a>
                                <div class="vs">
                                   vs
                                </div>
                                <a href="#" class="team1">
                                    <span><img src="{{ live_match_first.team2_logo.url }}" alt="team-image"></span>
                                    <span>{{ live_match_first.team2 }}</span>
                                </a>
                        </div>
                        <a href="{% url 'home_upcoming_match' %}" class="booking">UPCOMING MATCH</a>
                    </div>
                </div>
                </div>
                <h6 style="">Latest matches</h6>
                <div class="col-md-6 col-sm-12 col-xs-12" style="height: 550px; overflow-y: scroll">

                        {% for live_match in live_match %}
                        <div class="main-lates-matches">
                            <a href="#" class="item">
                                <span class="championship">{{ live_match.match_type }}</span>
                                <span class="teams-wrap">
                                        <span class="team">
                                            <span>
                                                <img src="{{ live_match.team1_logo.url }}" alt="team-image">
                                            </span>
                                            <span>{{ live_match.team1 }}</span>
                                        </span>
                                        <span class="score">
                                            <span>{{ live_match.team1_score }}:{{ live_match.team2_score }}</span>

                                        </span>
                                        <span class="team1">
                                            <span>{{ live_match.team2 }}</span>
                                            <span><img src="{{ live_match.team2_logo.url }}" alt="team-image"></span>
                                        </span>
                                </span>
{#                                <span class="game-result">(5-4) penalties</span>#}
                            </a>

                        </div>
                        {% endfor %}
                </div>

            </div>
        </div>
    </section>

    <!--MAIN MACTH SHEDULE END-->
     <!--MAIN PLAYERS STAT BEGIN-->

    <section class="main-players-stat bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h4 class="hockey-stats-h4">best player statistic</h4>


<div class="single-player-stats players_statistic_slider">
    <ul class="player-filters" role="tablist">
        <li class="active">
            <a href="#attacker" role="tab" data-toggle="tab">
                attackers
            </a>
        </li>
        <li>
            <a href="#assister" role="tab" data-toggle="tab">
                midfield
            </a>
        </li>
        <li>
            <a href="#goalkeeper" role="tab" data-toggle="tab">
                goalkeeper
            </a>
        </li>

    </ul>
    <div class="player-stat-slider tab-content">
        <div id="slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner tab-content" role="listbox">
                <div class="item active tab-pane" id="attacker">

                    <div class="wrap">
                        <div class="stat">
                            <div class="top-info with_number">
                                <div class="number">{{ player_goals_slide.player_statistics.player_number }}</div>
                                <a href="{% url 'home_player_detail' player_goals_slide.player_team.id player_goals_slide.player_statistics.id %}" class="name" style="text-transform: uppercase;">
                                    {{ player_goals_slide.player_statistics.player_name }}
                                </a>
                            </div>
                            <div class="position">{{ player_goals_slide.player_statistics.player_position }}
                            </div>
                            <div class="progress-wrap">
                                <div class="progress-item">
                                    <div class="bar-label">
                                        <div class="achievement">goals</div>
                                        <div class="score">{{ player_goals_slide.player_goals }}</div>
                                    </div>
                                    <div class="progress-line">
                                        <div class="bar bar-1" ></div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="bar-label">
                                        <div class="achievement">shot</div>
                                        <div class="score">15</div>
                                    </div>
                                    <div class="progress-line">
                                        <div class="bar bar-2" ></div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="bar-label">
                                        <div class="achievement">threat</div>
                                        <div class="score">23</div>
                                    </div>
                                    <div class="progress-line">
                                        <div class="bar bar-3" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image">
                            <a href="{% url 'home_player_detail' player_goals_slide.player_team.id player_goals_slide.player_statistics.id %}" title="player-image">
                                <img src="{{ player_goals_slide.player_statistics.player_image.url }}" alt="player-image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item tab-pane" id="assister">
                    <div class="wrap">
                        <div class="stat">
                            <div class="top-info with_number">
                                <div class="number">1</div>
                                <a href="{% url 'home_player_detail' player_assist_slide.player_team.id player_assist_slide.player_statistics.id %}" class="name" style="text-transform: uppercase;">
                                    {{ player_assist_slide.player_statistics.player_name }}
                                </a>
                            </div>
                            <div class="top-info">
                                <a href="player-second-page.html" class="name">
                                </a>
                            </div>
                            <div class="position">
                                {{ player_assist_slide.player_statistics.player_position }}
                            </div>
                            <div class="progress-wrap">
                                <div class="progress-item">
                                    <div class="bar-label">
                                        <div class="achievement">ASSIST</div>
                                        <div class="score">{{ player_assist_slide.player_assist }}</div>
                                    </div>
                                    <div class="progress-line">
                                        <div class="bar bar-4" ></div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="bar-label">
                                        <div class="achievement">goals</div>
                                        <div class="score">{{ player_assist_slide.player_goals }}</div>
                                    </div>
                                    <div class="progress-line">
                                        <div class="bar bar-5" ></div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="bar-label">
                                        <div class="achievement">shot</div>
                                        <div class="score">21</div>
                                    </div>
                                    <div class="progress-line">
                                        <div class="bar bar-6" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image">
                            <a href="{% url 'home_player_detail' player_assist_slide.player_team.id player_assist_slide.player_statistics.id %}" title="player-image">
                                <img src="{{ player_assist_slide.player_statistics.player_image.url }}" alt="player-image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item tab-pane" id="goalkeeper">
                    <div class="wrap">
                        <div class="stat">
                            <div class="top-info with_number">
                                <div class="number">1</div>
                                <a href="{% url 'home_player_detail' player_clean_sheet_slide.player_team.id player_assist_slide.player_statistics.id %}" class="name" style="text-transform: uppercase;">
                                    {{ player_clean_sheet_slide.player_statistics.player_name }}
                                </a>
                            </div>
                            <div class="top-info">
                                <a href="player-second-page.html" class="name">
                                </a>
                            </div>
                            <div class="position">
                                {{ player_clean_sheet_slide.player_statistics.player_position }}
                            </div>
                            <div class="progress-wrap">
                                <div class="progress-item">
                                    <div class="bar-label">
                                        <div class="achievement">CLEAN SHEET</div>
                                        <div class="score">{{ player_clean_sheet_slide.player_clean_shit }}</div>
                                    </div>
                                    <div class="progress-line">
                                        <div class="bar bar-4" ></div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="bar-label">
                                        <div class="achievement">GAME PLAYED</div>
                                        <div class="score">{{ player_clean_sheet_slide.player_game_played }}</div>
                                    </div>
                                    <div class="progress-line">
                                        <div class="bar bar-1" ></div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="bar-label">
                                        <div class="achievement">conceded</div>
                                        <div class="score">7</div>
                                    </div>
                                    <div class="progress-line">
                                        <div class="bar bar-5" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image">
                            <a href="{% url 'home_player_detail' player_clean_sheet_slide.player_team.id player_clean_sheet_slide.player_statistics.id %}" title="player-image">
                                <img src="{{ player_clean_sheet_slide.player_statistics.player_image.url }}" alt="player-image">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="arrow-wrap">
                    <!-- Controls -->
                    <a class="nav-arrow left-arrow" href="#slider" role="button" data-slide="prev">
                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="nav-arrow right-arrow" href="#slider" role="button" data-slide="next">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
                </div>
                <div class="col-md-5">
                    <h4 class = "hockey-stats-h4">Best players</h4>
                    <div class="team-best-player">
                <div class="">
                    <ul class="player-filters" role="tablist">
                        <li class="active">
                            <a href="#goals" role="tab" data-toggle="tab">goals</a>
                        </li>
                        <li>
                            <a href="#assist" role="tab" data-toggle="tab">assist</a>
                        </li>
                        <li>
                            <a href="#goalkeeper_all" role="tab" data-toggle="tab">goalkeeper</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="best-players-list tab-pane active" id="goals">
                        {% for player_goals in player_goals %}
                            {% if not player_goals.player_goals == 0 %}
                        <a href="{% url 'home_player_detail' player_goals.player_team.id player_goals.player_statistics.id %}" class="item">
                            <span class="number">{{ player_goals.player_statistics.player_number }}</span>
                            <span>{{ player_goals.player_statistics.player_name }}</span>
                            <span class="achievement">{{ player_goals.player_goals }}</span>
                        </a>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="best-players-list tab-pane" id="assist">
                        {% for player_assist in player_assist %}
                            {% if not player_assist.player_assist == 0 %}
                        <a href="{% url 'home_player_detail' player_assist.player_team.id player_assist.player_statistics.id %}" class="item">
                            <span class="number">{{ player_assist.player_statistics.player_number }}</span>
                            <span>{{ player_assist.player_statistics.player_name }}</span>
                            <span class="achievement">{{ player_assist.player_assist }}</span>
                        </a>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="best-players-list tab-pane" id="goalkeeper_all" >
                        {% for player_clean_sheet in player_clean_sheet %}
                            {% if not player_clean_sheet.player_clean_shit == 0 %}
                        <a href="{% url 'home_player_detail' player_clean_sheet.player_team.id player_clean_sheet.player_statistics.id %}" class="item">
                            <span class="number">{{ player_clean_sheet.player_statistics.player_number }}</span>
                            <span>{{ player_clean_sheet.player_statistics.player_name }}</span>
                            <span class="achievement">{{ player_clean_sheet.player_clean_shit }}</span>
                        </a>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <!--MAIN PLAYERS STAT END-->
     <!--SUCCESS STORY BEGIN-->
<section class="success-story sport">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4>success story <br>began here</h4>
                <p> {{ legend_story.legend_short_story }}. </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="icon"><img src="{% static 'images/common/success-icon.png' %}" alt="succes-icon"></div>
                        <div class="title">Legendary roles</div>
                        <p>{{ legend_story.legend_roles }} </p>
                    </div>
                    <div class="col-md-6">
                        <div class="icon"><img src="{% static 'images/common/success-icon1.png' %}" alt="succes-icon"></div>
                        <div class="title">Legendary Quote</div>
                        <p>{{ legend_story.legend_quotes }}. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 position-relative">
                <blockquote class="coach-quote">

                    <p class="name" style="color: #ffff00; font-size: 14px;"><b>{{ legend_story.legend_name }} / head coach</b></p>
                </blockquote>
                <img class="img-responsive" src="{{ legend_story.legend_image.url }}" alt="coach-image" style="height: 440px; width: 700px;">
            </div>
        </div>
    </div>
</section>
<!--SUCCESS STORY END-->
    <!--MAIN CLUB STAFF BEGIN-->
<section class="main-club-stuff">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="soccer-h4">club stuff</h4>
                <ul class="player-filters" role="tablist">
                    <li class="active">
                        <a href="#managers" role="tab" data-toggle="tab">
                            Managers
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="managers" role="tabpanel">
            <div id="managers_carousel" class="carousel slide main-stuff-slider" data-ride="carousel" >
                <div class="carousel-inner" role="listbox" >

                        <div class="item active">
                            <div class="container">
                                <div class="row">
                                    {% for coach in coach|slice:":3" %}
                                    <div class="col-md-4">
                                        <div class="staff-item">
                                            <a href="{% url 'home_manager_detail' coach.id %}">
                                                <span class="info">
                                                    <span class="name">{{ coach.manager_name }}<br>{{ coach.manager_country }}</span>
                                                    <span class="position">Manager</span>
                                                </span>
                                                <img src="{{ coach.manager_image.url }}"  alt="person-slider">
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    {% for coach in coach|slice:"3:" %}
                                    <div class="col-md-4">
                                        <div class="staff-item">
                                            <a href="{% url 'home_manager_detail' coach.id %}">
                                                <span class="info">
                                                    <span class="name">{{ coach.manager_name }}<br>{{ coach.manager_country }}</span>
                                                    <span class="position">Manager</span>
                                                </span>
                                                <img src="{{ coach.manager_image.url }}"  alt="person-slider">
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                    <!-- Controls -->
                    <a class="nav-arrow left-arrow" href="#managers_carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                    <a class="nav-arrow right-arrow" href="#managers_carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN CLUB STAFF END-->
{% endblock %}