{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'home_view' %}">Main</a>/</li>
                            <li>Category</li>
                        </ul>
                        <h1>Category</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--BREADCRUMBS END-->

    <div class="match-live-date">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><div class="date">MATCH LIVE</div></div>
            <div class="col-md-6"><div class="event">FOOTBALL</div></div>
        </div>
    </div>
</div>

    <!--MACTH LIVE INFO BEGIN-->

    <div class="match-live-info-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="match-live-info-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="height: 450px; width: 1250px; overflow-y: scroll">
                    {% for match_live in match_live %}
                    <div class="match-live-info">
    <div class="title"> {{ match_live.team1 }} – {{ match_live.team2 }}</div>
    <div class="match-info">
        <div class="team">
            <div class="avatar">
                <img src="{{ match_live.team1_logo.url }}" alt="team-logo"></div>
            <div class="text">
                {{ match_live.team1 }}
            </div>
        </div>
        <div class="btn-primary">
                                            <a href="{{ match_live.match_link }}" style="background-color: black; font-size: 20px; color: whitesmoke; border-radius: 10px;">
                                                Watch live
                                            </a>
                                        </div>
        <div class="team right  wpb_animate_when_almost_visible wpb_flipInX flipInX wpb_start_animation animated">
            <div class="text">
                {{ match_live.team2 }}
            </div>
            <div class="avatar">
                <img src="{{ match_live.team2_logo.url }}" alt="team-logo">   </div>
        </div>
    </div>
    <div class="title">
    </div>
</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
                </div>
            </div>
        </div>
    </div>

    <!--MACTH LIVE INFO END-->
{% endblock %}