{% extends 'home/base.html' %}
{% load static %}

{% block content %}
        <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'home_view' %}">Main</a>/</li>
                            <li>Category</li>
                        </ul>
                        <h1>Category</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

    <!--SERCH WRAPPER BEGIN-->

    <section class="search-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Search Results for “Test”</h4>
                    <div class="search-field">
                        <form>
                            <div class="wrap">
                                <input type="text" value="Test">
                                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="image"><img class="img-responsive" src="{% static 'images/soccer/gallery-slide-img.jpg' %}" alt="gallery-slide-img"></div>
                            </div>
                            <div class="col-md-8">
                                <div class="info">
                                    <a href="news-single.html" class="name">Bauza: Tabsed and Tobon will start against Interclubo</a>
                                    <div class="wrap">
                                        <a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Mason Carrington</a>
                                    </div>
                                    <p>Pabst irony tattooed, synth <span>test</span> sriracha selvage pok pok. Wayfarers kinfolk sartorial... </p>
                                    <a href="news-single.html" class="read-more">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--SERCH WRAPPER END-->
{% endblock %}