{% extends 'home/base.html' %}

{% load static %}
{% block content %}
    <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'home_view' %}">Main</a>/</li>
                            <li>Ranking</li>
                        </ul>
                        <h1>Ranking</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

    <!--STANDING TABLE WRAP BEGIN-->

    <section class="standing-table-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4>PRIMUS PREMIER LEAGUE</h4>
                    <ul class="tab-filters" role="tablist">
                        {% for standing in standing|slice:":5" %}
                        {% if forloop.first %}
                        <li class="active"><a href="#{{ standing.ranking_year.year }}" role="tab" data-toggle="tab">{{ standing.ranking_year.year }}</a></li>
                        {% else %}
                        <li><a href="#{{ standing.ranking_year.year }}" role="tab" data-toggle="tab">{{ standing.ranking_year.year }}</a></li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 overflow-scroll standings-table">
                    <div class="tab-content">
                        {% for standing in standing|slice:":5" %}
                            {% if forloop.first %}
                                <div class="tab-pane fade in active" id="{{ standing.ranking_year.year }}" role="tabpanel">
                            <table class="standing-full">
                                <tr>
                                    <th>club</th>
                                    <th>played</th>
                                    <th>won</th>
                                    <th>drawn</th>
                                    <th>lost</th>
                                    <th>gd</th>
                                    <th>points</th>
                                    <th>form</th>
                                    <th>next</th>
                                </tr>
                                {% for team_year in ranking_table_year %}
                                    {% if team_year.ranking.ranking_year.year == standing.ranking_year.year %}
                                <tr>
                                    <td class="up">
                                        <i class="fa fa-caret-up" aria-hidden="true"></i> 1 <span class="team"><img src="{{ team_year.team.team_picture.url }}" width="30" height="30" alt="team-logo"> </span>{{ team_year.team.team_name }}
                                    </td>
                                    <td>{{ team_year.game_played }}</td>
                                    <td>{{ team_year.win }}</td>
                                    <td>{{ team_year.draw }}</td>
                                    <td>{{ team_year.loss }}</td>
                                    <td>+16</td>
                                    <td class="points"><span>{{ team_year.team_points }}</span></td>
                                    <td class="form">
                                        <span class="win">w</span>
                                        <span class="drawn">d</span>
                                        <span class="lose">l</span>
                                        <span class="win">w</span>
                                        <span class="win">w</span>
                                    </td>
                                    <td><a href="club-stats.html"><img src="{% static 'images/soccer/team-logo2.png' %}" width="30" height="30" alt="team-logo"></a></td>
                                </tr>
                                        {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                                {% else %}
                        <div class="tab-pane fade" id="{{ standing.ranking_year.year }}" role="tabpanel">
                            <table class="standing-full">

                                <tr>
                                    <th>club</th>
                                    <th>played</th>
                                    <th>won</th>
                                    <th>drawn</th>
                                    <th>lost</th>
                                    <th>gd</th>
                                    <th>points</th>
                                    <th>form</th>
                                    <th>next</th>
                                </tr>
                                {% for team_year in ranking_table_year %}
                                    {% if team_year.ranking.ranking_year.year == standing.ranking_year.year %}
                                <tr>
                                    <td class="up">
                                        <i class="fa fa-caret-up" aria-hidden="true"></i> 1 <span class="team"><img src="{{ team_year.team.team_picture.url }}" width="30" height="30" alt="team-logo"> </span>{{ team_year.team.team_name }}
                                    </td>
                                    <td>{{ team_year.game_played }}</td>
                                    <td>{{ team_year.win }}</td>
                                    <td>{{ team_year.draw }}</td>
                                    <td>{{ team_year.loss }}</td>
                                    <td>+{{ team_year.team_points }}</td>
                                    <td class="points"><span>+{{ team_year.team_points }}</span></td>
                                    <td class="form">
                                        <span class="win">w</span>
                                        <span class="drawn">d</span>
                                        <span class="lose">l</span>
                                        <span class="win">w</span>
                                        <span class="win">w</span>
                                    </td>
                                    <td><a href="club-stats.html"><img src="{% static 'images/soccer/team-logo2.png' %}" width="30" height="30" alt="team-logo"></a></td>
                                </tr>
                                    {% endif %}
                                    {% endfor %}


                            </table>
                        </div>
                            {% endif %}

                    {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch.</p>
                </div>
            </div>
        </div>
    </section>

    <!--STANDING TABLE WRAP END-->
{% endblock %}