{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              Profile
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Team-Profile</li>
              </ol>
            </nav>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="border-bottom text-center pb-4">
                        <img src="{{ profile.user_image.url }}" alt="profile" class="img-lg rounded-circle mb-3" style="height: 130px; width: 150px;"/>

                        <div class="d-flex justify-content-between">
                        </div>
                      </div>

                      <div class="py-4">
                        <p class="clearfix">
                          <span class="float-left">
                            Names
                          </span>
                          <span class="float-right text-muted">
                            {{ user.full_name }}
                          </span>
                        </p>
                        <p class="clearfix">
                          <span class="float-left">
                            Phone
                          </span>
                          <span class="float-right text-muted">
                            {{ user.phone_number }}
                          </span>
                        </p>
                          <p class="clearfix">
                          <span class="float-left">
                            Mail
                          </span>
                          <span class="float-right text-muted">
                            {{ user.email }}
                          </span>
                        </p>
                          {% if profile.user_location is not None %}
                        <p class="clearfix">
                          <span class="float-left">
                            Location
                          </span>
                          <span class="float-right text-muted">
                            {{ profile.user_location }}
                          </span>
                        </p>
                          {% endif %}
                      {% if profile.user_roles is not None %}
                          <p class="clearfix">
                          <span class="float-left">
                            User Roles
                          </span>
                          <span class="float-right text-muted">
                            {{ profile.user_roles }}
                          </span>
                        </p>
                      {% endif %}

                      </div>
                    </div>
                 <div class="col-lg-8 col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Complete Profile</h4>
                  <form class="forms-sample" action="" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
{% endblock %}