
.field .player.lwb{right:35%;bottom:35%}.live-match-stat .field .player.rwb{left:35%;bottom:35%}.live-match-stat .field .player.cam{margin-left:-20px;left:50%;top:40%}.live-match-stat .field .player.amd{margin-left:-20px;left:50%;top:40%}.live-match-stat .field .player.lmd{margin-bottom:-20px;left:10%;bottom:60%}.live-match-stat .field .player.rmd{margin-bottom:-20px;right:10%;bottom:60%}.live-match-stat


